.login-btn{
    --ion-color-primary: #00703C;
    padding: 1px;
    padding-left:40px;
    padding-right: 40px;
}


ion-header{
    position: absolute;
}

ion-content{
    --ion-background-color:rgb(255, 255, 255) !important;
}

ion-toolbar{
    --ion-background-color: transparent;
    --opacity:0;
}
/*
.signin-btns{
    margin-top: 25px;

}*/

.wrapform{
    margin-top: 30px;
}

ion-item{
    ion-input{
        color:rgb(0, 0, 0);
    }
}

ion-card{
    --ion-background-color: transparent;
    box-shadow: none !important;
    margin-left: -10px;
    margin-right:0px;
    margin-top:1px;
    ion-card-title{
        margin-top:20px;
        font-family: playfair;
        font-size:20px;
        font-style: italic;
        color: #00703C;
        margin-bottom: 5px;
    }
}