
<ion-content>

  <ion-card>
    <ion-img src="assets/images/ufv.png"></ion-img>
    <ion-card-header>
     <!-- <ion-card-title>
        UFV Connect
      </ion-card-title> -->
    </ion-card-header>
  </ion-card>
  <div class="ion-text-center">
  <ion-text color="primary">
    <h1>UFV Connect</h1>
  </ion-text>
  </div>
  
  <ion-card-content>
    
  <div class="ion-text-center">
    <ion-item>
      <ion-label color="secondary" position="stacked">Email</ion-label>
      <ion-input type ="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label color="secondary" position="stacked">Password</ion-label>
      <ion-input type ="password"></ion-input>
    </ion-item>
  </div>
      <div class="ion-text-center">
      <ion-button color ="primary" fill="solid">Login</ion-button>
    </div>
  </ion-card-content>

</ion-content>
