ion-menu::part(backdrop) {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(0, 163, 41, 0.521);
  }

ion-header{
    ion-toolbar{
      --background:#00703C;
      font-size: 2rem !important;
      color: #fff;
    }
}

ion-card-title{
  color: #00703C;
}
ion-card-subtitle{
  color: #8DC63F;;
}

main-header{
  --background:#00703C;
      font-size: 2rem !important;
      color: #fff;
}

modal-header{

      font-size: 2rem !important;
      color: #00703C;
}
ion-text{
  color: #00703C;
}


// ion-card{
//   height:35%;
//   width: 90%;
// }

img{
  height: 30%;
  width: 30%;
}
.calendarimg{
  height: 30%;
  width: 30%;
}

.modal-wrapper {
  --width: 70%;
  --height: 50%;
  --border-radius: 8px!important;
}

