ion-menu::part(backdrop) {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgba(0, 163, 41, 0.521);
  }

ion-header{
    ion-toolbar{
      --background:#00703C;
      font-size: 2rem !important;
      color: #fff;
    }
}

.text-wrapper{
  top: 50%;
}

.img-wrapper{
  position: absolute;
  left: 50%;
 // top: -30px;
 top: 40%;
  transform: translateX(-50%);
  }

  .image-center{
    margin:0 auto;
    }

ion-card-title{
  color: #00703C;
}
ion-card-subtitle{
  color: #8DC63F;;
}

main-header{
  --background:#00703C;
      font-size: 2rem !important;
      color: #fff;
}

modal-header{

      font-size: 2rem !important;
      color: #00703C;
}
ion-text{
  color: #ffff;
}


// ion-card{
//   height:35%;
//   width: 90%;
// }

img{
  height: 30%;
  width: 30%;
}
.calendarimg{
  height: 30%;
  width: 30%;
}

.modal-wrapper {
  --width: 80%;
  --height: 50%;
  --border-radius: 8px!important;
 // --background-color: #00703C;
 
}
ion-modal{


  img{
    height: 60%;
    width: 60%;
  }
  ion-title{
    color: #ffffff;
  }
}
// ion-modal{
// ion-header{
//     height: 5vh;
// }
// ion-toolbar{
//     height: 5vh;
// }
// }

ion-img{
  height: 60%;
  width: 60%;
}

ion-modal{
  ion-card-subtitle{
    margin-top: 15px;
}
}


.avatar{
        margin: auto;
      }

ion-padding{
  padding-top: 20px;
}
//   height: 30%;
//   width: 30%;
//     }
//   }
// }
  //  --ion-background-color: #00703C;



